server:
  port: 8080
  app:
    auto: true

spring:
  datasource:
    url: jdbc:h2:mem:users
    username: root
    password: root
    driverClassName: org.h2.Driver
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console.path: /h2-console
    console.settings.trace: false
    spring.h2.console.settings.web-allow-others: false


feign:
  client:
    config:
      default:
        loggerLevel: FULL
